*.pdf
*.ai
*.bak
.tmp
.sass-cache
.DS_Store
*/.DS_Store
*/*/.DS_Store
node_modules
bower_components
dist
docs
mockup
composer.lock
composer.phar
src/components/*/**.css
src/assets/styles/*.css
src/components/*/**.css.map
src/assets/styles/*.css.map